
header.header
  .header__inner 
    a.header__logo
      +logo
      span GB Adviser
  .header__search 
    +input(placeholder='Поиск...').header__input
  .header__right
    .header__controls 
      button.header__dialog
        +dialog-svg
      button.header__notifications 
        +notifications-svg
        span 5
    .header__user 
      a.header__avatar(href="#") 
        img(src="/public/images/user.png", alt="user")
      p.header__name Саша Смелая
    .header__menu
      +arrow-bottom-svg 