.header {
  padding: rem(14px) rem(22px) rem(16px) rem(22px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);

  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(12px);

    color: #000;
    font-size: rem(22px);
    font-style: normal;
    font-weight: 700;

    svg {
      width: rem(41px);
      height: rem(38px);
      flex-shrink: 0;
    }
  }

  &__input {
    width: rem(1230px);
    border: none;

    &:focus {
      border: none;
      box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
    }
  }
  &__search {
    display: flex;
    align-items: center;
    gap: rem(8px);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &-menu {
    margin-left: rem(18px);
    position: relative;
    z-index: 10;

    $menu: &;
    &:hover {
      #{$menu} {
        &__links {
          transform: translateY(0);
          opacity: 1;
          pointer-events: inherit;
        }

        &__button {
          transform: rotate(180deg);
        }
      }
    }
    &__button {
      cursor: pointer;
      transition: $transition;
    }

    &__links {
      transition: $transition;
      pointer-events: none;
      position: absolute;
      right: 0;
      width: rem(130px);
      height: rem(200px);
      transform: translateY(rem(20px));
      background: #fff;
      opacity: 0;
      box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: rem(20px);
  }

  &__notifications {
    cursor: pointer;
    position: relative;
    width: rem(24px);
    height: rem(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    span {
      position: absolute;
      right: rem(-3px);
      top: rem(-4px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(16px);
      height: rem(16px);
      color: #fff;
      text-align: center;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 700;
      border-radius: rem(12px);
      background: #1e5eff;
      flex-shrink: 0;
    }
  }

  &__user {
    margin-left: rem(38px);
    display: flex;
    align-items: center;
    gap: rem(11px);
    cursor: pointer;
  }

  &__avatar {
    width: rem(39px);
    height: rem(39px);
    border-radius: 50%;
    overflow: hidden;
    background-color: #d8d8d8;
    cursor: pointer;
  }

  &__name {
    color: #5a607f;
    font-size: rem(14px);
    font-weight: 500;
    cursor: pointer;
  }
}
