.container {
  padding: rem(40px);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  @media #{media('<',t)} {
    padding: rem(12px);
  }
}

.content {
  gap: rem(30px);
  display: flex;

  &__base {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }
  @media #{media('<',t)} {
    gap: rem(12px);
  }

  @media #{media('<',m)} {
    flex-direction: column;
  }
}

.search {
  margin-top: rem(22px);
  @media #{media('<',t)} {
    margin-top: rem(10px);
  }
}

.block {
  border-radius: rem(6px);
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
  background: #fff;
  padding: rem(28px);
}

.wrapper {
  &__row {
    display: flex;
  }
}
